.modal{
    width: 100vw;
    height: 120vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 700px;
    height: 350px;
    background: #fff;
    position: relative;
    top:-60px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, .2) 0px 7px 29px 0px;
    padding: 20px;
}

.container button{
    width: 17.17px;
    height: 17.17px;
    border-radius: 30px;
    padding: 1px;
    color: #fff;

    border: none;
    background-color: crimson;

    position: relative;
    left: 660px;;

    font-size: 10px;
}