footer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img{
        width: 100px;
        margin-left: 20px;
    }
   
    p{
        color: white;
        margin-right: 50px;
    }
}